<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{flex: fullWidthMode}">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
      alt=""
    />

    <div class="w-full" ngClass="{'px-8 flex flex-col justify-between' : fullWidthMode}">
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Snickers</p>
        <p *ngIf="fullWidthMode">Descriptions</p>
      </div>
      <div class="flex justify-between px-10">
        <span class="text-red-400">{{ "150" | currency : "₦" }} </span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
