<mat-card class="mb-4">
  <div class="flex justify-between p-5 items-center">
    <div>
      <button mat-button [matMenuTriggerFor]="sortByMenu">
        sort by {{ sort }}
      </button>
      <mat-menu #sortByMenu="matMenu">
        <button (click)="onSortUpdated('desc')" mat-menu-item>desc</button>
        <button (click)="onSortUpdated('asc')" mat-menu-item>asc</button>
      </mat-menu>
    </div>
    <div class="flex items-center ">
      
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>expand_more</mat-icon>
          show {{ itmesShowCount }} 
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onItmesUpdated(12)" mat-menu-item>12</button>
          <button (click)="onItmesUpdated(24)" mat-menu-item>24</button>
          <button (click)="onItmesUpdated(54)" mat-menu-item>56</button>
          <!-- <button (click)="onSortUpdated('asc')" mat-menu-item>asc</button> -->
          
        </mat-menu>
      </div>
      <button (click)="onColumnsUpdated(1)">
        <mat-icon>view_list</mat-icon>
      </button>
      <button (click)="onColumnsUpdated(3)">
        <mat-icon>view_module</mat-icon>
      </button>
      <button (click)="onColumnsUpdated(4)">
        <mat-icon>view_comfy</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
