
<mat-card class="max-w-7xl mx-auto" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td td-cell *matCellDef="let element" class="px-3">
                <img src="{{element.product}}" alt="product" class="w-[100px] my-5" />
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button routerLink="/home">Continue Shopping</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td td-cell *matCellDef="let element">
               <p class="truncate max-w-xs"> {{element.name}}</p></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

           <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td td-cell *matCellDef="let element">
                {{element.price | currency : '₦'}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
           </ng-container>

           <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>quantity</th>
            <td td-cell *matCellDef="let element">
                {{element.quantity}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
           </ng-container>

           <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>total</th>
            <td td-cell *matCellDef="let element">
                {{element.total}}</td>
            <td mat-footer-cell *matFooterCellDef>
                <span class="font-bold py-5 block">
                    {{getTotal(cart.items) | currency: '₦'}}
                </span>
            </td>
           </ng-container>


           <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="warn" class="float-right"> Clear All </button>
            </th>
            <td td-cell class="px-10" *matCellDef="let element">
                <button mat-mini-fab color="warn" class="float-right"><mat-icon>close</mat-icon></button>
            </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</mat-card>

<mat-card class="max-w-7xl mx-auto" *ngIf="!cart.items.length">
    <p>
        Your cart is empty.
        <button mat-raised-button routerLink="/home">Start shopping</button>
    </p>
</mat-card>